<button md-icon-button [mdMenuTriggerFor]="menu">
    <md-icon>more_vert</md-icon>
</button>
<md-menu #menu="mdMenu">
        <a class='item news-item'
           *ngFor='let source of sources | async'
           routerLink='/news/{{ source["id"] }}'
           routerLinkActive='active'>
            <span class='side-news-item'>
                <img src='{{ source["urlsToLogos"]["small"] }}' />
            </span>
            <div class="sourceBox">
                <span>{{ source['name']}}</span>
            </div>
        </a>
</md-menu>