<md-toolbar color="primary">
    <span>Material Viewer V0.9 beta | </span>
    <span style="padding-left: 5px;" *ngIf="currentSource">{{currentSource}}</span>
    <span class="spacer"></span>
    <!-- Dotted menu for source switching -->
    <router-outlet></router-outlet>
    <!-- End of dotted menu for source switching -->
</md-toolbar>

<md-tab-group (selectChange)="switchTab($event)">
    <!-- News section -->
    <md-tab label="News">
        <app-header>
        </app-header>
        <md-card *ngFor="let article of articlesFromService | async">
            <div *ngIf="!article.hide">
                <img md-card-image src="{{article.imageUrl}}" />
                <md-card-content>
                    <p>{{article.title}}</p>
                </md-card-content>
                <md-card-content>
                    <p>{{article.description}}</p>
                </md-card-content>
                <md-card-content>
                    <p>{{article.publishedAt | date:'medium'}}</p>
                </md-card-content>
                <md-card-actions>
                    <button class="raised_button" md-button (click)="likeMe(article)">
                        <i class="material-icons md-18" [class.red-color]="article.votes >= '1'">favorite</i> LIKE
                        <span *ngIf="article.votes >= '1'">
                            &nbsp; + {{article.votes}}
                        </span>
                    </button>
                    ||
                    <button class="raised_button" md-button (click)="dislikeMe(article)">
                        <i class="material-icons md-18" [class.red-color]="article.votes <= '-1'">mood_bad</i> DISLIKE
                        <span *ngIf="article.votes <= '-1'">
                            &nbsp; {{article.votes}}
                        </span>
                    </button>
                    ||
                    <button class="raised_button" md-button (click)="deleteMe(article)">
                        <i class="material-icons md-18">delete</i> DELETE
                    </button>
                    ||
                    <button  class="raised_button" md-button (click)="goToSource(article)">
                        <i class="material-icons md-18">language</i> SOURCE
                    </button>
                </md-card-actions>
            </div>
        </md-card>
    </md-tab>
    <!-- End news section -->
    <!-- YouTube section -->
    <md-tab label="YouTube">
        <app-header-youtube (results)="receiveResults($event)">
        </app-header-youtube>
        <md-card *ngFor="let video of videosFromService | paginate: { itemsPerPage: videosPerPage, currentPage: p}">
            <div class="video-responsive">
                <youtube-player [playerId]='"player"' [videoId]='video.id'> </youtube-player>
            </div>
            <md-card-content>
                <p>{{video.title}}</p>
            </md-card-content>
            <md-card-content>
                <p>{{video.description}}</p>
            </md-card-content>
        </md-card>
        <md-card-actions>
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </md-card-actions>
    </md-tab>
    <md-tab label="Settings">
        <div id="page-padding">
            <h1>Settings</h1>
            <label>Number of Video's per page</label>
            <md-slider (change)="pagesChanged($event)" showTicks="true" max="100" min="1" step="1" thumbLabel="true" value="{{videosPerPage}}">
            </md-slider>
            <label>Clear YouTube Cache when UI is unresponsive</label>
            <button class="raised_button" md-button (click)="clearCache()">
                <i class="material-icons md-18">delete</i> Clear Cache
            </button>
        </div>
    </md-tab>
</md-tab-group>