body {
    padding: 2em 23em;
    background-color: lightgray;
    background-position: 50% 0;
    background-image: url("/app/assets/images/materialbg.jpg");
    background-size: cover;
}

.spacer {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.mat-tab-label-container {
    background-color: white;
}

.mat-tab-body {
    background-color: white;
}

.red-color {
    color:red;
}

.raised_button {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    border-radius: 0;
}

.mat-slider-horizontal {
    width:100%
}

label {
    font-weight:bold;
    margin:1.5em 0;
    display:block;
}

#page-padding {
    padding: 0 1.5em 1.5em 1.5em;
    background-color:white;
}


.cdk-overlay-container {
    top: -110px;
    transform: scale(0.75);
}

a.item.news-item {
  padding-left: 10px;
  line-height: 1.4em !important;
}
a.item.news-item.active {
  background-color: #ddd !important;
}
a span.side-news-item {
  color: #000000;
}
a.active span.side-news-item {
  color: #222222 !important;
}

.sourceBox {
    text-align: center;
}

.video-responsive {
  position: relative;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden;
}

.video-responsive iframe,
.video-responsive object,
.video-responsive embed,
.video-responsive video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

